{% extends "learning_logs/base.html" %}
	
{% block page_header %}
  <h3>{{ topic }}</h3>
{% endblock page_header %}

{% block content %}
<a class="btn btn-info mb-3" href="{% url 'new_entry' topic.id %}">Добавить новую запись</a>
  <ul>
  	{% for entry in entries  %}
      <div class="card mb-3">
        <h4 class="card-header">{{ entry.date_added|date:'M d, Y H:i' }}
          <small><a href="{% url 'edit_entry' entry.id %}">Редактировать запись</a></small>
        </h4>
        <div class="card-body">{{ entry.text|linebreaks }}</div>
      </div>
    {% empty %}
      <p>Ничего не изучено по данной теме</p>
  	{% endfor %}
  </ul>
  <br>
{% endblock content %}